
[build]
  command = "npm run build"
  publish = "dist"

[functions]
  directory = "netlify/functions"

[dev]
  port = 8889
  targetPort = 5173


[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
